<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
  </head>
  <body>
    <h1>SignUp</h1>
    <form action="/user" method="post">
      <label for="">Full Name</label>
      <input type="text" required name="name" />

      <br />

      <label for="">Email</label>
      <input type="email" required name="email" />

      <br />

      <label for="">Password</label>
      <input type="password" required name="password" />
      <br> 
      <button type="submit">Signup</button>
    </form>
  </body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body class="body">
<form action="/user" method="post">
  <div class="ring">
    <i style="--clr:#00ff0a;"></i>
    <i style="--clr:#ff0057;"></i>
    <i style="--clr:#fffd44;"></i>
    <div class="login">
      <h2>Sign Up</h2>
      <div class="inputbx">
        <input name="name" type="text" placeholder="Username">
      </div>
      <div class="inputbx">
        <input name="email" type="email" placeholder="Enter Email">
      </div>  
      <div class="inputbx">
        <input name="password" type="password" placeholder="Password">
      </div>
      <div class="inputbx">
        <input type="submit" value="Sign Up">
      </div>

      <div class="links">
        <a href="#">Forget Password</a>
        <form action="/signup" method="get">
          <a href="#" onclick="login()">Login</a>
        </form>
      </div>
    </div>
  </div>
</form>
</body>
<script>
  function login() {
            window.location.href = "/login";
        }
</script>
</html>
